body{
    width: 80%;
    margin: auto;
    
}
.nav-wrapper{
   display: flex;
   justify-content: center;

}
.nav-wrapper nav{
    display: flex;
    margin-top: 30px;
    column-gap: 20px;
    font-family: sans-serif;
    font-size: 25px;
    color: gray;
}
a{
    text-decoration: none;
    color: gray;
}
a:hover{
    color: #535353;
}
.home-wrapper{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 70vh; 
    font-size: 45px;
    font-weight: bold;
}
.title{
    color: gray;
    font-size: 20px;
    font-weight: 700;
}
.blog-card{
    width: 300px;
    border: 1px solid gray;
    border-radius: 16px;
    padding-bottom: 15px;
}
.blog-card img{
    width: 100%;
    height: 250px;
    border-radius: 16px 16px 0 0;
}
.blog-content{
    padding: 10px 10px;
}
.description{
    font-size: 15px;
    color: gray;
    padding-top: 5px;
}
.date{
    font-size: 18px;
    color: gray;
    padding-top: 5px;
    font-style: italic;
}
.button{
    padding: 5px 10px;
    border: 1px solid gray;
    border-radius: 16px;
    background-color: #f2f2f2;
    width: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}
.button:hover{
    background-color: gray;
}
.button-wrapper{
    display: flex;
    justify-content: center;
}
.blog-wrapper{
    margin-top: 65px;
    display: flex;
    column-gap: 30px;
}
#form-wrapper{
    margin-top: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
}
#title{
    width: 300px;
    height: 30px;
    border-radius: 16px;
    border: 1px solid gray;
    padding: 5px 10px;
}
#description{
    width: 300px;
    height: 65px;
    border-radius: 16px;
    border: 1px solid gray;
    padding: 5px 10px;
    margin-top: 10px;
}
#content{
    width: 300px;
    height: 300px;
    border-radius: 16px;
    border: 1px solid gray;
    padding: 5px 10px;
    margin-top: 10px;
}
#file{
    margin-top: 10px;
    margin-bottom: 10px;
}
.button{
    width: 100px;
}
#button-form{
    margin-top: 10px auto;
}
.alert{
    width: 100%;
    height: 30px;
    background-color: #D4EDDA;
    color: black;
    display: flex;
    justify-content: center;
    align-items: center;
}



